*{
    margin:0%
}
header{
    background-color: black;
   height: 50px;
}
header a{
    color:white;
    position: absolute;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 90px;  
}
img{
    position: absolute;
    top: 5px;
    left: 10px;
}
.nav-bar{
    background-color: aqua;
}
.nav-bar ul li{
    display: inline-block;
    text-indent: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    font-size:23px;
}  
.nav-bar ul li a{
    text-decoration: none;
    color:black;
}
.nav-bar ul li a:hover{
    background-color: blueviolet;
    padding: 10px 10px 10px 10px;
    border-radius: 14px;
 }

.image2{
    top:1550px;
    width:200px;
    left:20px;
}
.four{
    margin-top:720px;
    margin-left:20px;
}
.class img{
    position: absolute;
    background-color: black;
    width:1200px;
    height: 600px;
    padding:600px;
}
.line1{
    background-color:aqua;
    width:95px;
    height:5px;
    position:absolute;
    margin-left:382px;
    top:1540px;
}
.ourservices{
    text-decoration: none;
    position:absolute;
    margin-left:380px;
    top:1550px;
    line-height: 30px;
}
.ourservices a{
    text-decoration: none;
}
.line2{
    background-color:rgb(248, 152, 27);
    width:75px;
    height:5px;
    position:absolute;
    margin-left:682px;
    top:1540px;
}
.company{
    position:absolute;
    margin-left:680px;
    top:1550px;
    line-height: 30px;
}
.company a{
    text-decoration: none;
}
.line3{
    background-color:rgb(184, 250, 29);
    width:75px;
    height:5px;
    position:absolute;
    margin-left:880px;
    top:1540px;
}
.resources{
    position:absolute;
    margin-left:880px;
    top:1550px;
    line-height: 30px;
}
.resources a{
    text-decoration: none;
}
.line4{
    background-color:rgb(250, 12, 24);
    width:75px;
    height:5px;
    position:absolute;
    margin-left:1150px;
    top:1540px;
}
.followus{
    position:absolute;
    margin-left:1150px;
    top:1550px;
    line-height: 30px;
}
.whatsapp {
    position:absolute;
    margin-top:1608px;
    margin-left:1100px;
}
.insta {
    position:absolute;
    margin-top:1608px;
    margin-left:1170px;
}
.fb {
    position:absolute;
    margin-top:1608px;
    margin-left:1240px;
}
.call {
    position:absolute;
    margin-top:1680px;
    margin-left:1170px;
}
.linkedin {
    position:absolute;
    margin-top:1740px;
    margin-left:1100px;
}
.utube {
    position:absolute;
    margin-top:1740px;
    margin-left:1170px;
}
.twitter {
    position:absolute;
    margin-top:1740px;
    margin-left:1240px;
}
.work h3{
   margin-top: 200px;
   margin-left: 250px ;
   font-size: 24px;
}
.work p{
    font-size: 20px;
    margin-left: 80px;
    margin-top:30px;
    margin-bottom: 200px;
}
.work img{
    margin-left: 700px;
    margin-top:200px;
}
.join h3{
    margin-top: 100px;
    margin-left: 550px ;
    font-size: 24px;
 }
 .join p{
     font-size: 20px;
     margin-left: 200px;
     margin-top:20px;
 }
 @media screen and (max-width:701px)
{
    header{  
        margin-left:px;
        width:100%;
    } 
    .nav-bar{
        width:100%;
    }
    
     .nav-bar ul li{
        display:block;
     }
     .work h3{
        text-align: center;
        margin-top: 10px;
        margin-left: -40px;
     }
     .work p{
        margin-left: 5px;
     }
     .work img{
        position: relative;
        margin-left: -10px;
        margin-top: -100px;
        width: 100%;
     }
     .join h3{
        text-align: center;
        margin-left: 0px;

     }
     .join p{
        margin-left: 0px;
     }
     .image2{
        top:100px;
        position: relative;
       }
       .four{
          margin-top:100px;
          position: relative ;
       }
      .line1{
      
          margin-left:15px;
          margin-top:-1400px;
          position: relative;
      }
      .ourservices{
          margin-left: 15px;
          margin-top:0px;
          position: relative;
      }
      .line2{
          margin-left: 15px;
          margin-top:20px;
          position: relative;
      }
      .company{
          margin-left: 15px;
          margin-top:0px;
          position: relative;
      }
      .line3{
          margin-left: 15px;
          margin-top:20px;
          position: relative;
      }
      .resources{
          margin-left: 15px;
          margin-top:0px;
          position: relative;
      }
      .line4{
          margin-left: 15px;
          margin-top:60px;
          position: relative;
      }
      .followus{
          margin-left: 15px;
          margin-top:0px;
          position: relative;

      }
      .last{
          margin-left:0px;
          top:1000px;
      }
      .whatsapp{
             margin-left:0px;
             top:-160px;
             position: relative;
             
      }
      .insta{
          margin-left:10px;
          top:-160px;
          position: relative;
      }
      .fb{
          margin-left:10px;
          top:-160px;
          position: relative;
      }
      .call{
          margin-left:-90px;
          top:-80px;
          position: relative;
      }
      .linkedin{
          margin-left:-110px;
          top:-10px;
          bottom:10px;
          position: relative;
      }
      .utube{
          margin-left:20px;
          top:-10px;
          bottom:10px;
          position: relative;
      }
      .twitter{
          margin-left:20px;
          top:-10px;
          bottom:10px;
          position: relative;
      }  